body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #a90000;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label, select, input[type="submit"] {
    margin-right: 10px;
}


.plant h2 {
    margin-bottom: 5px;
}

.plant p {
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
    color: #555;
}


.plant {
    /* display: flex; */
    /* align-items: center; Vertically center the content */
    background-color: #740000;
    border: 1px solid #380000;
    padding: 10px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .new-plant {
    flex: 1;
    min-width: 0; /* Ensure content doesn't overflow */
    box-sizing: border-box; /* Include padding and border in width */
    padding: 10px;
    border: 1px solid #ccc;
    align-content:center;
  }